<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Facebook Clone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Facebook Clone", "Index", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="live-search-li">
                        <input id="search-text" class="search-text" type="text"placeholder="Search friends..."/>
                        <ul id="live-search-ul">

                        </ul>
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right owner">
                        <li class="friend-count-li">
                            @if(ViewBag.FriendRequest != null)
                            {
                                <span class="glyphicon glyphicon-user notify-friend red @User.Identity.Name">
                                    <span>@ViewBag.FriendRequest</span>
                                </span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-user notify-friend @User.Identity.Name">
                                    <span></span>
                                </span>
                            }
                            <ul id="notify-friend-ul"></ul>
                        </li>
                        <li class="msg-count-li">
                            @if (ViewBag.MessageCount > 0)
                            {
                                <span class="glyphicon glyphicon-comment msg-notify red @User.Identity.Name">
                                    <span id="message-count">@ViewBag.MessageCount</span>
                                </span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-comment msg-notify @User.Identity.Name">
                                    <span></span>
                                </span>
                            }
                            <ul id="message-friend-ul"></ul>
                        </li>

                        <li class="name">@ViewBag.FullName</li>
                        <li class="logout">@Html.ActionLink("Logout", "Logout", "Account")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="chat-box-holder" id="chb@(User.Identity.Name)"></div>

    <div class="chat-box">
        <h4><span></span></h4>
        <div class="chat-box-text"></div>
        <textarea class="chat-text-area"></textarea>
        <br />
        <a href="#" class="send-chat">Send</a>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
