@model FacebookClone.Models.ViewModels.Account.UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <title>Facebook Clone</title>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.Action("LoginPartial", "Account")</li>
                    </ul>
                </div>
            </div>
        </div>
        <h1>Facebook Clone</h1>
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm("CreateAccount", "Account", FormMethod.Post, new { enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="FirstName">Upload Image</label>
                            <div class="col-md-10">
                                <input type="file" name="file" id="image-upload" />
                                <img id="image-preview" src="#" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Register" class="btn btn-default btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        $(document).ready(function () {
            /* 
            / Login form AJAX
            */
            $("form#loginform").submit(function (e) {
                e.preventDefault();

                var $this = $(this);
                $this.find(".ajax-div").removeClass("hide");

                var username = $("#Username").val();
                var password = $("#Password").val();
                var url = "/account/Login";

                $.post(url, { username: username, password: password }, function (data) {
                    var response = data.trim();

                    if (response == "ok") {
                        document.location.href = "/" + username;
                    } else {
                        $this.find(".ajax-div").addClass("hide");
                        $("div.em").fadeIn("fast");
                        setTimeout(function () {
                            $("div.em").fadeOut("fast");
                        }, 2000);
                    }
                });
            });


            /* 
            / preview selected image
            */

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $("img#image-preview").attr("src", e.target.result).width(200).height(200);
                    }

                    reader.readAsDataURL(input.files[0])
                }
            };

            $("#image-upload").change(function () {
                readURL(this);
            });
        });
    </script>
</body>
</html>
