
@{
    ViewBag.Title = ViewBag.Username;
}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <p class="user-image">
            <img src="~/Content/Images/@ViewBag.UsernameImage" />
        </p>
        <h2>@ViewBag.ViewingFullName (@ViewBag.Username)</h2>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript")
<script src="/signalr/hubs"></script>
<script>
    // init hub connection
    var hub = $.connection.echo;

    hub.client.test = function (msg) {
        console.log(msg);
    }

    // connect to hub
    $.connection.hub
        .start()
        .done(function () {

            hub.server.hello("SignalR working...");


        });
</script>
