
@{
    ViewBag.Title = ViewBag.Username;
}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <p class="user-image">
            <img src="~/Content/Images/@ViewBag.UsernameImage" />
        </p>
        <h2>@ViewBag.ViewingFullName (@ViewBag.Username)</h2>

        @if (ViewBag.UserType == "guest")
        {
            <div class="friends">
                @if (ViewBag.NotFriends == "Pending")
                {
                    <div class="are-friends-div alert alert-warning">
                        <p>Pending friend request</p>
                    </div>
                }
                else if (ViewBag.NotFriends == "True")
                {
                    <div class="are-friends-div alert alert-info">
                        <a class="add-friend" href="#">Add Friend</a>
                    </div>
                }
                else
                {
                    <div class="are-friends-div alert alert-success">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Friends
                    </div>
                }
            </div>
        }

    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript")
<script src="/signalr/hubs"></script>
<script>
    // init hub connection
    var hub = $.connection.echo;

    hub.client.test = function (msg) {
        console.log(msg);
    }


    hub.client.NotifyFriend = function (f, count) {
        $("span.notify-friend." + f + "> span").text(count);
        $("span.notify-friend." + f).addClass("red");
    }

    // connect to hub
    $.connection.hub
        .start()
        .done(function () {

            hub.server.hello("SignalR working...");

            // Add friend
            $("a.add-friend").click(function (e) {
                e.preventDefault();

                var friend = '@ViewBag.Username';
                var url = "/profile/AddFriend";

                $.post(url, { friend: friend }, function (data) {
                    $(".add-friends-div").removeClass("alert-info").addClass("alert-warning")
                        .html('<p>Pending friend request.</p>');
                }).done(function () {
                    hub.server.notify(friend);
                });
            });


        });
</script>
