
@{
    ViewBag.Title = ViewBag.Username;
}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <p class="user-image">
            <img src="~/Content/Images/@ViewBag.UsernameImage" />
        </p>
        <h4>@ViewBag.ViewingFullName (@ViewBag.Username)</h4>

        @if (ViewBag.UserType == "guest")
        {
            <div class="friends">
                @if (ViewBag.NotFriends == "Pending")
                {
                    <div class="are-friends-div alert alert-warning">
                        <p>Pending friend request</p>
                    </div>
                }
                else if (ViewBag.NotFriends == "True")
                {
                    <div class="are-friends-div alert alert-info">
                        <a class="add-friend" href="#">Add Friend</a>
                    </div>
                }
                else
                {
                    <div class="are-friends-div alert alert-success">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Friends
                    </div>
                }
            </div>
        }

        <div class="friends @User.Identity.Name alert alert-success">
            <span>@ViewBag.FriendCount</span> Friend(s)
        </div>

    </div>

    <div class="col-xs-12 col-md-6 wall">
        @if (ViewBag.UserType == "guest")
        {
            if (ViewBag.NotFriends == null)
            {
                <div class="send-msg-parent">
                    <div class="msg-text-area">
                        <textarea id="msg-area"></textarea>
                    </div>
                    <a href="#" id="send-msg" class="ta">Send Message</a>
                    <img src="~/Content/Images/ajax-loaderblack.gif" class="hide" />
                    <div class="send-msg-notify alert alert-success hide">Message Sent</div>
                </div>
            }
        }
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript")
<script src="/signalr/hubs"></script>
<script>
    // init hub connection
    var hub = $.connection.echo;

    //hub.client.test = function (msg) {
    //    console.log(msg);
    //}


    // notifies user of a pending friend request
    hub.client.NotifyFriend = function (f, count) {
        $("span.notify-friend." + f + "> span").text(count);
        $("span.notify-friend." + f).addClass("red");
    }


    // dynamically update # of friend requests after accepting a request
    hub.client.updateFriendRequests = function (username, friendRequests) {

        if (friendRequests > 0) {
            $("span.notify-friend." + username + "> span").text(friendRequests);
        } else {
            $("span.notify-friend." + username + "> span").text("");
            $("span.notify-friend." + username).removeClass("red");
        }
    }


    // dynamically notify user of a new messages
    hub.client.msgcount = function (username, count) {

        if (count > 0) {
            $("span.msg-notify." + username + "> span").text(count);
            $("span.msg-notify." + username).addClass("red");
        } else {
            $("span.msg-notify." + username + "> span").text("");
            $("span.msg-notify." + username).removeClass("red");
        }
    }


    // dynamically update # of friends after accepting a request
    hub.client.updateFriendCount = function (user1, user2, friendCount1, friendCount2) {

        if (friendCount1 > 0) {
            $("div.friends." + user1 + "> span").text(friendCount1);
        } else {
            $("div.friends." + user1 + "> span").text("0");
        }

        if (friendCount2 > 0) {
            $("div.friends." + user2 + "> span").text(friendCount2);
        } else {
            $("div.friends." + user2 + "> span").text("0");
        }
    }


    $.connection.hub
        .start()
        .done(function () {

            // hub.server.hello("SignalR working...");

            // Add friend
            $("a.add-friend").click(function (e) {
                e.preventDefault();

                var friend = '@ViewBag.Username';
                var url = "/profile/AddFriend";

                $.post(url, { friend: friend }, function (data) {
                    $(".are-friends-div").removeClass("alert-info").addClass("alert-warning")
                        .html('<p>Pending friend request.</p>');
                }).done(function () {
                    hub.server.notify(friend);
                });
            });


            $("body").on("click", "a#send-msg", function (e) {

                e.preventDefault();

                var $this = $(this);

                $this.parent().find("img").removeClass("hide");

                var friend = '@ViewBag.Username';
                var message = $('#msg-area').val();
                var url = "/profile/SendMessage";

                $.post(url, { friend : friend, message : message }, function (data) {
                }).done(function () {
                    $this.parent().find("img").addClass("hide");
                    hub.server.notifyOfMessage(friend);
                    $('#msg-area').val("");
                    $this.parent().find(".send-msg-notify").removeClass("hide");
                    setTimeout(function(){
                        $this.parent().find(".send-msg-notify").fadeOut("fast", function() {
                            $this.parent().find(".send-msg-notify").addClass("hide");
                        });
                    }, 2000);  
                });

            });

        });
</script>
